{% load staticfiles %}
{% load i18n %}

<html>
<head>
    <title>{% block title %}
    {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="{% static "fontawesome/fontawesome-all.css" %}">

    <link rel="stylesheet" href="{% static "emojionearea/emojionearea.min.css" %}">
    <script type="text/javascript" src="{% static "emojionearea/emojionearea.min.js" %}"></script>

    {% block extra_head %} <!-- block for templates to put stuff into header -->
    {% endblock %}

    <style>
        @media (max-width: 1025px) {
            .container {
                width: 95% !important;
                margin-left: 20px !important;
                margin-right: 20px !important;
                max-width: 1200px !important;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--<a class="navbar-brand" href="{% url 'index' %}">{% trans 'Cookbook' %}</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-book"></i> {% trans 'Cookbook' %}<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% trans 'New' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--<a class="dropdown-item" href="{% url 'new_recipe' %}"><i
                            class="fas fa-book"></i> {% trans 'Recipe' %}</a>-->
                    <a class="dropdown-item" href="{% url 'new_category' %}"><i
                            class="fas fa-archive"></i> {% trans 'Category' %}</a>
                    <a class="dropdown-item" href="{% url 'new_keyword' %}"><i
                            class="fas fa-tags"></i> {% trans 'Keyword' %}</a>
                    <a class="dropdown-item" href="{% url 'new_storage' %}"><i
                            class="fas fa-database"></i> {% trans 'Storage Backend' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% trans 'List' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'list_category' %}"><i
                            class="fas fa-archive"></i> {% trans 'Category' %}</a>
                    <a class="dropdown-item" href="{% url 'list_keyword' %}"><i
                            class="fas fa-tags"></i> {% trans 'Keyword' %}</a>
                    <a class="dropdown-item" href="{% url 'list_import' %}"><i
                            class="far fa-file-alt"></i> {% trans 'New Recipes' %}</a>
                    <a class="dropdown-item" href="{% url 'list_import_log' %}"><i
                            class="fas fa-history"></i> {% trans 'Import Log' %}</a>
                    <a class="dropdown-item" href="{% url 'list_storage' %}"><i
                            class="fas fa-database"></i> {% trans 'Storage Backends' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% trans 'Manage Data' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'data_sync' %}"><i
                            class="fas fa-sync-alt"></i> {% trans 'Configure Sync' %}</a>
                    <a class="dropdown-item" href="{% url 'data_batch_edit' %}"><i
                            class="fas fa-edit"></i> {% trans 'Batch Edit' %}</a>
                    <a class="dropdown-item" href="{% url 'data_stats' %}"><i
                            class="fas fa-chart-line"></i> {% trans 'Statistics' %}</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %} {{ user.get_username }} <i
                            class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %} <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>
<br/>
<br/>

<div class="container">

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</div>

</body>
</html>