{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Stats' %}{% endblock %}


{% block content %}

    <h3>
        {% trans 'Statistics' %}
    </h3>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% trans 'Number of Objects' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans 'Recipes' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes }}</span></li>
                    <li class="list-group-item">{% trans 'Categories' %} : <span
                            class="badge badge-pill badge-info">{{ counts.categories }}</span></li>
                    <li class="list-group-item">{% trans 'Keywords' %} : <span
                            class="badge badge-pill badge-info">{{ counts.keywords }}</span></li>
                    <li class="list-group-item">{% trans 'Recipe Imports' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipe_import }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {% trans 'Number of Objects' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% trans 'Recipes without Category' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes_no_category }}</span></li>
                    <li class="list-group-item">{% trans 'Recipes without Keywords' %} : <span
                            class="badge badge-pill badge-info">{{ counts.recipes_no_keyword}}</span></li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}