{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Delete' %} - {{ title }}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h3>{% trans 'Delete' %} {{ title }}</h3>

    <form action="." method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
            {% blocktrans %}Are you sure you want to delete the {{ title }}: <b>{{ object }}</b> {% endblocktrans %}
        </div>
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}